body{
    background: #fcec81;
}
h1{
    margin-top: 1%;
    font-family: Luar Galaxy;
    font-size:60px;
    background-color: #c8a6ff;
    color: black;
    text-align: center;
}
table{
    width: 650px;
    background: #c8a6ff;
    padding: 70px;
    margin: auto;
    margin-top: 40px;
    border-radius: 23px;
    font-family: Magical Story;
    font-size: 20px;
    text-align: center;
    
}
.centro{
text-align: center;
}